{% extends 'base.html.twig' %}

{% block title %}Forfait{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('forfait') }}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}
    <div class="container">
        <h1>Gérer les forfaits</h1>

        <a href="{{ path('secretaire.nouveauForfait') }}" class="btn btn-primary">Ajouter un forfait</a>

        <table class="table table-striped" id="tableauForfait">
            <thead>
            <tr>
                <th>Libellé</th>
                <th>Prix</th>
                <th>Contenu</th>
                <th>Modifier</th>
                <th>Supprimer</th>
            </tr>
            </thead>
            <tbody>
            {% for forfait in forfaits %}
                <tr>
                    <td>{{ forfait.libelleforfait }}</td>
                    <td>{{ forfait.prix }} €</td>
                    <td>{{ forfait.getListeContenu()|raw }}</td>
                    <td>
                        <a href="{{ path('secretaire.modifForfait', {'id': forfait.id}) }}" class="btn btn-warning">Modifier</a>
                    </td>
                    <td>
                        <form method="post" action="{{ path('secretaire.supprForfait', {'id': forfait.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce forfait ?');">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ forfait.id) }}">
                            <button class="btn btn-danger">Supprimer</button>
                        </form>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">Pas de forfaits trouvé</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
