{% extends 'base.html.twig' %}

{% block title %}Portes Ouvertes{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('porteOuverte') }}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}
    <div class="container">
        <h1 class='titrePorteOuverte'>Ajouter une journée</h1>
        {{ form_start(form) }}
        {{ form_rest(form) }}
        <button class='btn btn-success'>Ajouter</button>
        <a href="{{ path('admin.porteOuverte') }}" class="btn btn-primary">Retour</a>
        {{ form_end(form) }}
    </div>
{% endblock %}
