{% extends 'base.html.twig' %}

{% block title %}Modification Lieu
{% endblock %}

{% block stylesheets %}
		{{ encore_entry_link_tags('crudIndispo') }}
{% endblock %}
{% block body %}
	<h1 class='d-flex justify-content-center'>Modifier un Lieu</h1>

	<div class="container col-md-6">
		{{form_start(form)}}
		<div class=" d-flex justify-content-center ">

			{{form_row(form.libelle)}}

		</div>
		<div class='d-flex justify-content-center'>
			<button id='btnLieu' class='btn btn-success' data-container="body" data-toggle="errorLieu" data-placement="bottom" data-trigger="focus" data-content="Vous n'avez rien rentré.">Modifier</button>
		</div>
		{{form_end(form)}}

	</div>

{% endblock %}
{% block javascripts %}
				{{ encore_entry_script_tags('crudLieu') }}


{% endblock %}
