{% extends 'base.html.twig' %}

{% block title %}Création gérant
{% endblock %}

{% block stylesheets %}{% endblock %}
{% block body %}
	<h1 class='d-flex justify-content-center'>Créer un gérant</h1>
	<div class="container">
		{{ form_start(form) }}
        {{ form_row(form.nom) }}
        {{ form_row(form.prenom) }}
        {{ form_row(form.mail) }}
		 {{ form_row(form.telephone) }}
        {{ form_rest(form) }}
        <button id='btnCréer' class='btn btn-success'>Créer</button>
		{{ form_end(form) }}
	</div>
{% endblock %}
{% block javascripts %}
	{{ encore_entry_script_tags('crud') }}
{% endblock %}
